body {
  font-family: "Times New Roman", Times, serif;
  background: #f4f4f4;
  margin: 0;
  padding: 30px;
  font-size: small;

}

.resume-container {
  max-width: 1000px;
  background: #fff;
  padding: 40px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header {
    text-align: center;
    margin-bottom: 10px;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.title {
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}
.subittle {
  margin-bottom: 5px;
}

.section {
  margin-top: 25px;
}

.section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  font-size: 1rem;
}

.proj-title, .edu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project a {
  color: #000000;
}